.person {
  padding: 1.5rem;
  border: 5px solid $personBorder;
  border-radius: .6em;
  background: #ECE9E6;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transform: scale(1);
  transition: .11s transform ease-out;

  &:hover {
    transform: scale(1.015);
  }

  &.fav-fav {
    border-color: $favPersonBorder;
  }
}